.Cabecera_datos{
    width: 100%;
    height: 4em;
    /* background-color: rgb(200, 130, 130); */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cabecera_izq{
    width:40%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.logo_puntos{
    width: 22px;
    padding-left: 15px;
}

.cabecera_der{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.cabecera_der .opciones{
    display: none;
}

.opciones-1{
    padding-right: 15px;
}

.foto_sam{
    width: 98px;
    margin: 15px 0px 0px 15px;
    border-radius: 50%;
}

.intro{
    padding-bottom: 1em;
}

.introduccion{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.entrada{
    width: 92%;
    display: flex;
    justify-self: center;
    padding-top: 10px;
}

.sub_entrada{
    width: 92%;
    display: flex;
    justify-self: center;
    padding-top: 10px;
}

.links{
    display: flex;
    flex-direction: row;
    padding: 1em 0 0 1em;
    justify-content: space-around;
    gap: .25em;
}

.titulo-seccion{
    padding: 1em 0 1em .8em;
    display: flex;
    justify-content: center;
    color: #464646;
}

.parrafo{
    padding: .5em 0 0 1em;
}

.cuadro_conjunto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    gap: 15px;
}

.cuadro{
    width: 156px;
    height: 118px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
}

.icono{
    width: 24px;
    margin: 0 0 0 15px;
}

.texto_cuadro{
    font-size: 16px;
    color: #464646;
    font-weight: 700;
    margin: 0 0 15px 15px;
}

.escuela{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cuadro_escuelas{
    width: 296px;
    height: 118px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadro_escuelas .icono_escuela{
    width: 84px;
}

.texto_escuela{
    padding: 15px 0 15px 0;
}

.subtexto_escuela{
    padding: 0 0 15px 0;
}

.exp-contenido{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cuadro-codigo{
    width: 296px;
    height: 144px;
    /* background-color: #cecece; */
    display: flex;
    justify-content: center;
}

.encriptador{
    width: 276px;
    height: 144px;
}

.btns{
    padding: 15px 0 35px 30px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.celular{
    display: none;
}

.entrada-ingreso{
    width: 296px;
    height: 35px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 22px;
    margin-bottom: 20px;
}

.entrada-ingreso2{
    width: 296px;
    height: 135px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 15px 0 5px 22px;
}

.enviar{
    width: 93px;
    height: 20px;
    border: solid 1px #2A7AE4;
    background-color: #2A7AE4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px 12px 16px;
    margin: 35px 0 25px 22px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

@media only screen and (min-width: 480px){

    .cabecera_izq{
        display: flex;
        margin-left: 15px;
    }

    .opciones-0{
        font-size: 16px;
        font-weight: bold;
        margin: 0 15px 0 0;
    }

    .foto_sam{
        width: 146px;
        margin-right: 35px;
    }

    .presentacion{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .introduccion h1{
        width: 90%;
    }

    .introduccion h2{
        width: 90%;
    }

    .links{
        width: 65%;
        display: flex;
        justify-content: space-around;
        gap: 15px;
    }
    
    .titulo-seccion-inicio{
        margin-left: 15px;
    }

    .parrafo{
        width: 90%;
        margin: 0 0 15px 15px;
    }

    .cuadro{
        width: 224px;
        height: 118px;
        margin-bottom: 10px;
    }

    .escuela{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .cuadro-codigo{
        width: 92%;
        height: 20em;
    }
    

    .encriptador{
        position: absolute;
        left: 10%;
        width: 80%;
        height: 20em;
    }

    .titulo-enc{
        font-size: 16px;
        font-weight: bold;
        color: #464646;
    }

    .entrada-ingreso{
        width: 94%;
        display: flex;
        justify-content: center;
        margin-top: 45px;
        background-color: white;
    }

    .texto_nombre{
        display: flex;
        padding: 10px 0 15px 0;
        background-color: white;
        font-size: 12px;
        font-weight: 300;
        height: .7em;
    }

    .entrada-ingreso2{
        width: 94%;
        background-color: white;
    }
    
    .datos_contacto{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1px;
    }

}

@media only screen and (min-width: 768px){

    .Cabecera_datos{
        width: 90%;
        display: flex;
        padding-left: 5%;
    }

    .cabecera_der .opciones{
        display: flex;
    }

    .opciones:hover{
        /* background-color: #d7d7d7; */
        /* margin: 0 10px 0 10px; */
        /* border: #2A7AE4 solid 3px; */
        text-decoration: underline;
        transform: scale(1.2);
        font-weight: bold;
        /* border-radius: 25px; */
        /* transform: translateY(-10); */
    }

    .cabecera_der{
        display: flex;
        flex-direction: row;
        font-size: 16px;
        font-weight: 400;
        justify-content: space-around;
    }

    .categoria:hover{
        text-decoration: underline;
        transform: scale(1.2);
        font-weight: bold;
    }

    .intro{
        width: 90%;
    }

    .introduccion{
        width: 100%;
        display: flex;
        padding-left: 3.5%;
    }

    .presentacion{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .foto_sam{
        width: 368px;
        height: 368px;
    }

    .entrada{
        font-size: 52px;
        font-weight: 700;
    }

    .sub_entrada{
        font-size: 22px;
        font-weight: 400;
    }

    .links{
        width: 40%;
        padding-left: 6%;
        padding-top: 10px;
        padding-bottom: 30px;
        transform: translate(0px, -40px);
    }

    .categoria{
        font-size: 22px;
        font-weight: 500;
        display: flex;
        margin: 0px 0px 5px 0px;
    }

    .titulo-seccion-inicio{
        font-size: 32px;
        font-weight: 700;
        padding-left: 5.5%;
    }

    .parrafo{
        width: 45%;
        padding-left: 5.5%;
        font-size: 16px;
        font-weight: 400;
    }

    .titulo-seccion{
        font-size: 32px;
        font-weight: 700;
    }

    .cuadro_conjunto{
        display: flex;
        flex-wrap: wrap;
    }

    .cuadro{
        width: 176px;
        height: 174px;
    }

    .cuadro_escuelas{
        width: 368px;
        height: 286px;
    }

    .texto_escuela{
        font-size: 22px;
        font-weight: 700;
    }

    .subtexto_escuela{
        font-size: 16px;
        font-weight: 500;
    }

    .experiencia{
        height: 40em;
    }

    .cuadro-codigo{
        width: 40%;
        height: 29em;
        /* display: flex;
        justify-content: center; */
    }

    .cuadro-codigo .encriptador{
        width: 40em;
        height: 29em;
        display: flex;
        justify-self: center; 
        padding-left: 10%;   
    }

    .opciones-1:hover{
        background: #e3e3e3;
        font-weight: bold;
        transform: scale(1.1);
        border-radius: 5px;
    }

    .opciones-2:hover{
        background: #6099e3;
        color: rgb(255, 255, 255);
        font-weight: bold;
        transform: scale(1.1);
        border-radius: 5px;
    }

    .exp-contenido{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    .seccion-azul1{
        height: 45em;
    }

    .celular{
        padding-top: 105px;
    }

    .contenidoInformación{
        display: flex;
        justify-content: space-around;
    }

    .area-contacto{
        width: 15%;
        height: 15em;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .celular{
        display: block;
        width: 464px;
        height: 493px;
    }

    .area_informacion{
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    .btn-copiar{
        position: relative;
        left: 23px;
        top: 30px;
    }

    .btn-copiar:hover{
        background: #6099e3;
        color: rgb(255, 255, 255);
        font-weight: bold;
        transform: scale(1.1);
        border-radius: 5px;
    }

}
